@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* =========================
     BIDCOM COLORS
  ========================== */

  --azul-bidcom: #0000ff;
  --hover-clickable: #0000a8;

  --green-discount: #478438;

  /* =========================
     GRAYS
  ========================== */

  --grey-999: #999999;
  --grey-666: #666666;

  /* =========================
     SYSTEM COLORS
  ========================== */

  --danger: #dc3545;

  --light: #f8f9fa;

  --white: #ffffff;

  /* =========================
     TYPOGRAPHY
  ========================== */

  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 900;

  /* =========================
     BREAKPOINTS
  ========================== */

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* =========================
     FONTS
  ========================== */

  --font-family-sans-serif:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;

  --font-family-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@theme inline {
  /* =========================
     COLORS
  ========================== */

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-azul-bidcom: var(--azul-bidcom);
  --color-hover-clickable: var(--hover-clickable);

  --color-green-discount: var(--green-discount);

  /* =========================
     GRAYS
  ========================== */

  --color-grey-999: var(--grey-999);
  --color-grey-666: var(--grey-666);

  /* =========================
     SYSTEM COLORS
  ========================== */

  --color-danger: var(--danger);

  --color-light: var(--light);

  --color-white: var(--white);

  /* =========================
     TYPOGRAPHY
  ========================== */

  --font-sans: var(--font-family-sans-serif);
  --font-mono: var(--font-family-monospace);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

